.form-fields {
    display:block;
    margin-bottom: 20px;
}
.form-fields label {
    width:100px;
    clear:left;
}
.successmessage{
  margin: 0 auto;
  width: 64%;
  border-radius: 10px;
  background: #f5f7f8;
  margin: 0;
  text-align: center;
  padding: 0.5px 0;
  font-size: 15px;
  color: #2f9b44;
}