<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
        <f:if condition="{settings.sendEmail}">
            <f:then>
                <f:if condition="{mailSent}">
                    <div class="successmessage">
                        <p><f:translate key="mailSentSuccess" /></p>
                    </div>
                </f:if>
                <h1><f:translate key="sendPdf" /></h1>
                <f:form action="{list}" arguments="{download:'download',url:url}">
                    <div class="form-fields">
                        <label for="receiverName"><f:translate key="receiverName"></f:translate></label>
                        <f:form.textfield name="receiverName" required="1" size="50" value="" /> 
                    </div>
                    <div class="form-fields">
                        <label for="receiverEmail"><f:translate key="receiverEmail"></f:translate></label>
                        <f:form.textfield name="receiverEmail" type="email" required="1" size="50" value="" />
                    </div>
                    <div>
                        <f:form.submit value="{f:translate(key: 'sendMail')}" />
                    </div>
                </f:form>
            </f:then>
            <f:else>
                <h1><f:translate key="downloadPdf" /></h1>
                <f:link.action action="list" target="{f:if(condition: '{settings.modeOfDownload} ==\'pdf_Save\'', then: '', else: '_blank')}" arguments="{download:'download',url:url}"><f:translate key="downloadPdf" /></f:link.action>
            </f:else>
        </f:if>
		
		<f:comment>


		<table  class="tx_wkhtmlpdf" >
			<tr>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{wkhtmlpdfs}" as="wkhtmlpdf">
				<tr>
					<td><f:link.action action="edit" arguments="{wkhtmlpdf : wkhtmlpdf}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{wkhtmlpdf : wkhtmlpdf}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new">New Wkhtmlpdf</f:link.action>
	</f:comment>
	</f:section>
</html>